html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
h1{
    font-size: 5vw;
}
h2, h3 {
    color: #003366;
    text-align: center; 
}
h3{
    font-size: 3vw;
}

p {
    color: #333;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    /* background-color: #003366; */
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.logo{
    padding-left: 20px;
}
.nav-links {
    display: flex;
    align-items: center;
    padding-right: 20px;
}



nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
}

nav .nav-links li a:hover {
    background-color: #00509e;
    border-radius: 4px;
}


.image {
    position: relative;
    text-align: center;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
}

div .overlay-text {
    position: absolute;
    
    transform: translate(-50%, -50%);
    color: #00509e;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
    width: 50%;
}

.overlay-text h3{
    color: #4397eb;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);

}

.overlay-text button{
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
}

.overlay-text button:hover{
    background-color: #003366;
    border: 2px solid #003366;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
}

nav .overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color: #8ae6ff;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.extra-info {
    display: none;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    line-height: 1.4;
    width: 80%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}

#learn-more:focus + .extra-info {
    display: block;
}
.container0{
    position: absolute;
    top: 50%;
    left: 30%;
}
.container{
    
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 75%;
}
.heading{
    font-size: 5vw;
}
.overlay-text p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(47, 47, 47, 0.5);
    padding: 5px;
    font-size: 2vw;

}
.overlay-text p i{
    color: rgb(255, 255, 255);
    padding: 0px 0px 0px 15px;
}

.overlay-text p i:hover{
    color: rgb(255, 255, 255);
    padding: 0px 0px 0px 45px;
    font-size: 130%
    
    
    
}

.container1{
    background-color: rgb(67, 151, 235,0);
    position: absolute;
    top: 50%;
    left: 30%;
}
.overlay-text .heading{
    font-size: 4vw;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

.service-item img {
    border-radius: 8px;
    margin-right: 20px;
}

.service-item.reverse {
    flex-direction: row-reverse;
}

.service-item div {
    flex: 1;
}

#media{
    background-color: #8ae6ff;
}
.media-content {
    text-align: center;
    margin: 20px;
    padding: 20px 0px;
   
}


footer {
    background-color: #003366;
    padding: 20px;
    color: white;
}

#contact {
    text-align: center;
}

#contact img {
    vertical-align: middle;
    margin: 0 10px;
}

footer p {
    color: white; 
}